// colors
$ca--brand-color: #2687e9
$ca--text-color: #385a7b
$ca--bg-color: #f1f4f9
$ca--bg-container-color: #fcfdfe
$ca--border-color: #c9d3dd
$ca--button-color_action: #4aba58

// grid
$col-slug: col !default

// spacing-units
$margin: 20px
$width: 60px
$height: 20px