// colors
$ca--brand-color: #2687e9
$ca--text-color: #385a7b
$ca--bg-color: #f1f4f9
$ca--bg-container-color: #fcfdfe
$ca--border-color: #c9d3dd
$ca--button-color_action: #4aba58

// fonts
$ca--font-family: 'Proxima Nova', sans-serif
$ca--heading-size: 26px
$ca--font-size: 16px
$ca--font-weight: 300
$ca--line-height: 17px

// grid
$ca--col-slug: col !default
$ca--grid-margin: 20px
$ca--grid-width: 60px
$ca--grid-height: 20px